{% extends "base.html" %}
{% block content %}
<a href="{% url 'accounts:signup' %}">signup</a>
<br><br><br><br><br><br><br><br><br>

{% if form.errors %}
<p>아이디 또는 비밀번호가 틀립니다. 다시 시도해주세요.</p>

{% endif %}
<div align="center">
<form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <fieldset style="width:400px">
        <legend> 로그인 </legend>
        <br><br><br><br>
        <table>
            <tr>
                <td>{{ form.username.label_tag }} </td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <br><br><br>
        <input type="submit" value="로그인">
        <div align="right">
            <a href="{% url 'accounts:signup' %}">회원가입</a>
        </div>
    </fieldset>
</form>

    <br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}