<!DOCTYPE html>
<html lang="ko">
{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title> signup </title>
</head>
<br><br><br><br><br><br><br><br>
<div align="center">
    <form method="post" action="{% url 'accounts:signup' %}" >
        <fieldset style="width:1000px" >
            <legend> 회원가입 </legend>
            <br><br><br>
            <div align="left">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <br>
            <input type="submit" value="회원가입">
        </fieldset>
    </form>
    <br><br><br><br><br><br>
</div>
{% endblock %}

</html>