{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-white text-success text-center line-black">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <br><br><br><br><br><br>
                <img class="masthead-avatar mb-5" src="/static/image/servicei.png" alt="..." width="300" height="300"/>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">독서실 서비스</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light ">
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0"> Reading Room Service </p>
            </div>
        </header>

        <div align="center">
            <section class="page-section portfolio" id="serv1">
                <div class="container">
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                    <!-- Portfolio Section Heading-->
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line" ></div>
                        <img src="/static/image/serv1.png" width="1000" height="500" >
                    </div>
                    <!-- Portfolio Grid Items-->
                    <br><br><br>
                </div>
            </section>

            <section class="page-section portfolio" id="serv2">
                <div class="container">
                    <br><br><br>
                    <!-- Portfolio Section Heading-->
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line" ></div>
                        <img src="/static/image/serv2.png" width="1000" height="500">
                    </div>
                    <!-- Portfolio Grid Items-->
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </section>
        </div>
{% endblock %}
