{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-success text-white text-center ">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <hr><hr><hr> <hr><hr><hr>
        <img class="masthead-avatar mb-5" src="/static/image/studying.png" alt="..." width="300" height="300" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Reading Room</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0"> 공부가 잘되는 독서실 </p>
        <hr><hr>
    </div>
</header>

<section class="page-section portfolio" id="mpage">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line" ></div>
            <div style="clear: both;"></div>
            <img src="/static/image/back.png" width="1200" height="1250">
        </div>
        <!-- Portfolio Grid Items-->
    </div>
</section>
{% endblock %}