<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Reading Room</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="  text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <style>
            fieldset {
                width : 350px;
                padding : 20px;
                padding-bottom : 30px;
                padding-right : 30px;
                border : 3px solid;
            }
        </style>
    </head>
    <body>
    <!-- Footer-->
        <footer class="footer text-center bg-success">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-xs-7 col-sm-7 col-md-7 text-white" align="left">
                        <br>
                        <img src="/static/image/Reading.png" width="250" height="55">
                        <p>

                            상호 : (주)소소한 개설/가맹문의 : 1234-1234
                            제휴/기타문의 : qkrthgus02@kangwon.ac.kr
                            <br />
                            주소 : 서울특별시 중구 한강대로 416, 서울스퀘어 15층 101호(코멘토)
                            <br />
                            사업자 등록번호 : 123-45-67890
                            <br /><br>
                        </p>
                    </div>

                    <!-- Footer About Text-->
                    <div class="col-xs-5 col-sm-5 col-md-5 text-white">
                        <br>
                        <br />
                        <h5> 고객센터 </h5>
                        <p>

                            운영시간 : 평일 10시 ~ 18시 30분 (주말, 공휴일 제외)
                            <br />
                            점심시간 : 12시 30분 ~ 14시
                            <br />
                            기업 제휴 문의: qkrthgus02@kangwon.ac.kr
                            <br /><br>

                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>

